<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <style>
        .fade-in {
            animation: fadeIn 3s ease-in-out;
        }
        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }
    </style>
    <title> Amber Explores</title>
</head>
<body>

    <div id="preloader">
        <img src="images/opening.gif" alt="loading">
    </div>

    <div class="heart-container"></div>
    <header>
        <div class="logo">
            <a href="/">
                <img src="images/logo.png" alt="Company Logo">
            </a>
        </div>
        <div class="nav-container"> 
            <nav>
                <ul>
                    <li><a href="#about">ABOUT ME</a></li>
                    <li><a href="#food">FOOD</a></li>
                    <li><a href="#places">PLACES</a></li>
                    <li><a href="#contact">CONTACT ME</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <main class="fade-in">
        <!-- Main content goes here -->
        <section id="about">
            <!-- About section content -->
        </section>
        <section id="food">
            <!-- Food section content -->
        </section>
        <section id="places">
            <!-- Places section content -->
        </section>
        <section id="contact">
                <!-- Places section content -->    
        </section>
   
    </main>

    <footer>
      
    </footer>

    <script src="scripts/script.js"></script>
</body>
</html>
